@use "@/styles/utils.scss" as *;

.modal {
  @include screen-sm {
    padding: var(--bw-space-6);
  }
}

.dialogBody {
  margin-top: var(--bw-space-4);
  color: var(--bw-color-text-tertiary);
}

.dialogActions {
  margin-top: var(--bw-space-6);
}
