@use "@/styles/utils.scss" as *;

.root {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--bw-space-4);

  &:where([data-hovered]) {
    cursor: pointer;
  }
}

.checkboxIconContainer {
  display: grid;
  position: relative;
  flex-shrink: 0;
  place-content: center;
  border: 1px solid alpha(var(--bw-color-utility-zinc-950), 15);
  border-radius: 0.3125rem;
  isolation: isolate;
  aspect-ratio: 1 / 1;
  width: 1.125rem;
  color: var(--bw-color-utility-white);
  --checked-bg: var(--bw-color-utility-zinc-900);
  --checked-border: #{alpha(var(--bw-color-utility-zinc-950), 90)};
  --hover-border-color: #{alpha(var(--bw-color-utility-zinc-950), 30)};

  &::before {
    position: absolute;
    z-index: -10;
    inset: 0;
    box-shadow: var(--bw-shadow-sm);
    border-radius: calc(0.3125rem - 1px);
    background-color: var(--bw-color-utility-white);
    content: "";
  }

  &::after {
    position: absolute;
    inset: 0;
    box-shadow: inset 0 1px alpha(var(--bw-color-utility-white), 15);
    border-radius: calc(0.3125rem - 1px);
    content: "";
  }

  &:where(:not([data-state="unselected"])) {
    border-color: transparent;
    background-color: var(--checked-border);
    --hover-border-color: transparent;

    &::before {
      background-color: var(--checked-bg);
    }
  }

  &:where([data-hovered]) {
    border-color: var(--hover-border-color);
  }

  &:where([data-focused]) {
    @include outline-primary;
    outline-offset: 2px;
  }

  &:where(:not([data-focus-visible])) {
    outline: none;
  }

  &:where([data-disabled]) {
    opacity: 50%;
    border-color: alpha(var(--bw-color-utility-zinc-950), 25);
    background-color: alpha(var(--bw-color-utility-zinc-950), 5);
    color: alpha(var(--bw-color-utility-zinc-950), 50);

    &::before {
      background-color: transparent;
    }
  }

  @include screen-sm {
    width: var(--bw-space-4);
  }

  @include dark-mode {
    border-color: alpha(var(--bw-color-utility-white), 15);
    background-color: alpha(var(--bw-color-utility-white), 5);
    --checked-bg: var(--bw-color-utility-zinc-600);
    --hover-border-color: #{alpha(var(--bw-color-utility-white), 30)};

    &::before {
      display: none;
    }

    &::after {
      display: none;
      inset: -1px;
      border-radius: 0.3125rem;
    }

    &:where(:not([data-state="unselected"])) {
      border-color: alpha(var(--bw-color-utility-white), 5);
      background-color: var(--checked-bg);
      --hover-border-color: #{alpha(var(--bw-color-utility-white), 5)};

      &::after {
        display: block;
      }
    }

    &:where([data-disabled]) {
      border-color: alpha(var(--bw-color-utility-white), 20);
      background-color: alpha(var(--bw-color-utility-white), 2.5);
      color: alpha(var(--bw-color-utility-white), 50);
    }

    &:where([data-disabled]:not([data-state="unselected"])) {
      &::after {
        display: none;
      }
    }
  }
}

.checkboxIcon {
  aspect-ratio: 1 / 1;
  width: var(--bw-space-4);

  @include screen-sm {
    width: var(--bw-space-3-5);
  }
}

.label {
  &:where([data-disabled]) {
    opacity: 50%;
  }

  &:where([data-invalid]) {
    color: var(--bw-color-utility-error-600);

    @include dark-mode {
      color: var(--bw-color-utility-error-500);
    }
  }
}
