@use "@/styles/utils.scss" as *;

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(calc(var(--bw-space-3) * -1));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(var(--bw-space-3));
  }
  to {
    transform: translateX(0);
  }
}

.modalOverlay {
  display: flex;
  position: fixed;
  align-items: stretch;
  inset: 0;
  background-color: #{alpha(var(--bw-color-utility-zinc-950), 25)};
  padding: var(--bw-space-2);
  width: 100vw;
  height: var(--visual-viewport-height);
  overflow-y: auto;

  &:where([data-entering]) {
    animation: fade 0.1s var(--bw-timing-easeout);
  }

  &:where([data-exiting]) {
    animation: fade 0.1s var(--bw-timing-easein) reverse;
  }

  @include dark-mode {
    background-color: #{alpha(var(--bw-color-utility-zinc-950), 50)};
  }
}

.modal {
  &:where([data-entering]) {
    animation: var(--enter-animation);
  }

  &:where([data-exiting]) {
    animation: var(--exit-animation);
  }
}

.flexRowReverse {
  flex-direction: row-reverse;
}

.dialog {
  outline: none;
  border-radius: var(--bw-radius-xl);
  background-color: var(--bw-color-utility-white);
  width: 100%;
  max-width: var(--modal-max-width);
  min-height: 100%;

  @include dark-mode {
    border: 1px solid alpha(var(--bw-color-utility-white), 10);
    background-color: var(--bw-color-utility-zinc-900);
  }
}

.drawerTitle {
  color: var(--bw-color-utility-zinc-950);
  font-weight: var(--bw-weight-semibold);
  font-size: var(--bw-font-lg);
  line-height: var(--bw-line-6);
  text-wrap: balance;

  @include screen-sm {
    font-size: var(--bw-font-base);
  }

  @include dark-mode {
    color: var(--bw-color-utility-white);
  }
}

.left {
  --enter-animation: slideFromLeft 0.1s var(--bw-timing-easeout);
  --exit-animation: slideFromLeft 0.1s var(--bw-timing-easein) reverse;
}

.right {
  --enter-animation: slideFromRight 0.1s var(--bw-timing-easeout);
  --exit-animation: slideFromRight 0.1s var(--bw-timing-easein) reverse;
}
