@use "src/styles/utils" as *;

.root {
  display: block;
}

.selectBtn {
  display: block;
  position: relative;
  margin-top: var(--bw-space-3);
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  text-align: left;

  &::before {
    position: absolute;
    inset: 1px;
    box-shadow: var(--bw-shadow-sm);
    border-radius: calc(var(--bw-radius-lg) - 1px);
    background-color: var(--bw-color-utility-white);
    content: "";
  }

  &::after {
    position: absolute;
    inset: 0;
    border-radius: var(--bw-radius-lg);
    content: "";
  }

  &:where([data-disabled]) {
    opacity: 50%;

    &::before {
      box-shadow: none;
      background-color: rgba(9, 9, 11, 0.05);
    }
  }

  &:where([data-focused][data-focus-visible]) {
    &::after {
      outline-offset: -2px;
      @include outline-primary;
    }
  }

  &:where([data-hovered]) {
    cursor: pointer;
  }

  @include dark-mode {
    &::before {
      display: none;
    }
  }
}

.selectedValue {
  --selected-value-color: var(--bw-color-utility-zinc-950);
  --selected-value-background-color: transparent;
  --selected-value-border-color: #{alpha(var(--bw-color-utility-zinc-950), 10)};
  --selected-value-hover-border-color: #{alpha(
      var(--bw-color-utility-zinc-950),
      20
    )};
  --selected-value-invalid-border-color: var(--bw-color-utility-error-500);
  --selected-value-disabled-border-color: #{alpha(
      var(--bw-color-utility-zinc-950),
      20
    )};

  @include dark-mode {
    --selected-value-color: var(--bw-color-utility-white);
    --selected-value-border-color: #{alpha(var(--bw-color-utility-white), 10)};
    --selected-value-hover-border-color: #{alpha(
        var(--bw-color-utility-white),
        10
      )};
    --selected-value-invalid-border-color: var(--bw-color-utility-error-600);
    --selected-value-disabled-border-color: #{alpha(
        var(--bw-color-utility-white),
        15
      )};
    --selected-value-background-color: #{alpha(
        var(--bw-color-utility-zinc-950),
        5
      )};
  }
}

.selectedValue {
  display: block;
  position: relative;
  border-radius: var(--bw-radius-lg);
  width: 100%;
  --padding-y: calc(#{var(--bw-space-2-5)} - 1px);
  border: 1px solid var(--selected-value-border-color);
  background-color: var(--selected-value-background-color);
  padding-top: var(--padding-y);
  padding-right: calc(var(--bw-space-7) - 1px);
  padding-bottom: var(--padding-y);
  padding-left: calc(var(--bw-space-3-5) - 1px);
  min-height: var(--bw-space-11);
  overflow: hidden;
  color: var(--selected-value-color);
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  text-overflow: ellipsis;
  white-space: nowrap;

  &:where(.selectBtn[data-hovered] *) {
    border-color: var(--selected-value-hover-border-color);
  }

  &:where(.root[data-invalid] *) {
    border-color: var(--selected-value-invalid-border-color);
  }

  &:where(.root[data-disabled] *) {
    border-color: var(--selected-value-disabled-border-color);
  }

  &[data-placeholder] {
    color: var(--bw-color-utility-zinc-500);
  }

  @include screen-sm {
    --padding-y: calc(#{var(--bw-space-1-5)} - 1px);
    padding-left: calc(var(--bw-space-3) - 1px);
    min-height: var(--bw-space-9);
    font-size: var(--bw-font-sm);
  }
}

.popover {
  display: flex;
  flex-direction: column;
  width: var(--trigger-width);
}

.arrowContainer {
  display: flex;
  position: absolute;
  inset-block: 0;
  right: 0;
  align-items: center;
  padding-right: var(--bw-space-2);
}

.arrow {
  stroke: var(--bw-color-utility-zinc-500);
  aspect-ratio: 1 / 1;
  width: var(--bw-space-5);

  &:where(.root[data-disabled] *) {
    stroke: var(--bw-color-utility-zinc-600);
  }

  @include screen-sm {
    width: var(--bw-space-4);
  }
}

.listBox {
  outline: none;
  padding: var(--bw-space-1);
  overflow-y: scroll;
  scroll-padding-block: var(--bw-space-1);
}

.errorMessage {
  margin-top: var(--bw-space-3);
}
