@use "src/styles/utils" as *;

.root {
  display: block;
  outline: none;
  border-radius: var(--bw-radius-lg);
  padding: var(--bw-space-2-5) var(--bw-space-3-5) var(--bw-space-2-5)
    var(--bw-space-2);
  color: inherit;
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  text-decoration: none;

  &:where([data-focused]) {
    background-color: var(--bw-color-utility-blue-500);
    color: var(--bw-color-utility-white);
  }

  &:where([data-disabled]) {
    opacity: 50%;
  }

  &:where([data-hovered]) {
    cursor: pointer;
  }

  @include screen-sm {
    padding: var(--bw-space-1-5) var(--bw-space-3) var(--bw-space-1-5)
      var(--bw-space-1-5);
    font-size: var(--bw-font-sm);
  }
}
