@use "src/styles/utils.scss" as *;

.root {
  color: var(--bw-color-zinc-950);
  font-size: var(--bw-font-2xl);
  line-height: var(--bw-line-8);
  font-weight: var(--bw-weight-semibold);

  @include dark-mode {
    color: var(--bw-color-white);
  }

  @media #{$query-sm} {
    font-size: var(--bw-font-xl);
  }
}
