@use "@/styles/utils.scss" as *;

.text {
  color: var(--bw-color-utility-zinc-500);
  @include text-md;

  @include dark-mode {
    color: var(--bw-color-utility-zinc-400);
  }

  @include screen-sm {
    @include text-sm;
  }
}

.heading {
  color: var(--bw-color-text-primary);
  @include display-md;
  font-weight: var(--bw-weight-semibold);
  text-transform: capitalize;

  @include screen-sm {
    @include display-sm;
  }
}

.link {
  color: var(--bw-color-text-primary);
  text-decoration: underline;
  text-decoration-color: alpha(var(--bw-color-text-primary), 50);

  &:where(:hover) {
    text-decoration-color: var(--bw-color-text-primary);
  }
}
