@use "src/styles/utils.scss" as *;
@use "textutils.scss";

.text {
  color: var(--bw-color-utility-zinc-500);
  @include textutils.text-md;

  @include dark-mode {
    color: var(--bw-color-utility-zinc-400);
  }

  @include screen-sm {
    @include textutils.text-sm;
  }
}

.heading {
  color: var(--bw-color-text-primary);
  @include textutils.display-md;
  font-weight: var(--bw-weight-semibold);

  @include screen-sm {
    @include textutils.display-sm;
  }
}

.link {
  color: var(--bw-color-text-primary);
  text-decoration: underline;
  text-decoration-color: alpha(var(--bw-color-text-primary), 50);

  &:where(:hover) {
    text-decoration-color: var(--bw-color-text-primary);
  }
}
