@use "src/styles/utils" as *;

.root {
  --header-border-bottom-color: var(--bw-color-zinc-100);
  --blogCard-border-bottom-color: var(--bw-color-zinc-100);

  @include dark-mode {
    --header-border-bottom-color: transparent;
    --blogCard-border-bottom-color: var(--bw-color-zinc-800);
  }
}

.header {
  padding: spacing(2) 0;
  border-bottom: 1px solid var(--header-border-bottom-color);
  position: sticky;
  top: 0;
  backdrop-filter: var(--bw-blur-xl);
  background-color: alpha(var(--bw-color-white), 50);
  z-index: 1;
  transition:
    background-color 0.1s ease,
    border 0.1s ease;

  @include dark-mode {
    background-color: var(--bw-color-zinc-900);
    backdrop-filter: none;
  }
}

.main {
  padding-top: spacing(3);
  padding-bottom: spacing(4);
}

.section {
  padding: 0 spacing(4);
}

.blogs {
  display: flex;
  flex-direction: column;
}

.blogCard {
  padding-top: spacing(5);
  padding-bottom: spacing(5);
  border-bottom: 1px solid var(--blogCard-border-bottom-color);
  transition: border 0.1s ease;
}

.readMoreContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: spacing(3);
}

.logo {
  font-size: var(--bw-font-xl);
  font-weight: var(--bw-weight-semibold);
  letter-spacing: -0.025em;
  text-decoration: none;
  text-underline-offset: 0.125rem;
  padding-left: spacing(2);

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

.loginLink {
  font-weight: var(--bw-weight-normal);
  display: none;

  @include screen-sm {
    display: flex;
  }
}

.mobileLoginLink {
  font-weight: var(--bw-weight-normal);

  @include screen-sm {
    display: none;
  }
}
