@use "src/styles/utils" as *;

.container {
  display: flex;
  gap: spacing(4);
  justify-content: center;
  align-items: center;
  padding: spacing(8);
}

.dialogBody {
  margin-top: spacing(2);
}

.form {
  margin-top: spacing(6);
}

.mt5 {
  margin-top: spacing(5);
}
