@use "src/styles/utils" as *;

.root {
  width: 100%;
}

.container {
  &:where(:not(:first-child)) {
    margin-top: var(--bw-space-1);
  }
}

.trackRoot {
  flex-grow: 1;
  position: relative;
}

.track {
  height: var(--bw-space-2);
  background-color: var(--bw-color-zinc-300);
}

.fill {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: var(--bw-color-bg-brand-solid);
}

.thumb {
  top: 50%;
  aspect-ratio: 1 / 1;
  width: var(--bw-space-6);
  border-radius: var(--bw-radius-full);
  background-color: var(--bw-color-bg-brand-solid);
}

.output {
  width: var(--bw-space-6);
}
