@use "@/styles/utils.scss" as *;

.root {
  width: 100%;
}

.labelContainer {
  margin-bottom: var(--bw-space-2-5);
}

.track {
  position: relative;
  flex-grow: 1;
  border-radius: var(--bw-radius-full);
  background-color: var(--bw-color-utility-zinc-200);
  height: var(--bw-space-2);

  &:where([data-hovered]) {
    cursor: pointer;
  }

  @include dark-mode {
    background-color: var(--bw-color-utility-zinc-800);
  }
}

.trackFilled {
  position: absolute;
  top: 0;
  border-radius: var(--bw-radius-full);
  background-color: var(--bw-color-bg-brand-solid);
  height: 100%;
}

.thumb {
  top: 50%;
  box-shadow: var(--bw-shadow-sm);
  border: 2px solid var(--bw-color-bg-brand-solid);
  border-radius: var(--bw-radius-xl);
  background-color: var(--bw-color-utility-white);
  aspect-ratio: 1 / 1;
  width: var(--bw-space-6);

  &:where([data-hovered]) {
    cursor: pointer;
  }

  &:where([data-focus-visible]) {
    @include outline-primary;
    outline-offset: 1px;
  }

  @include dark-mode {
    background-color: var(--bw-color-utility-zinc-100);
  }
}

.output {
  flex-shrink: 0;
  font-size: var(--bw-font-sm);
}
