@use "@/styles/utils.scss" as *;

.table {
  min-width: 100%;
  table-layout: auto;
  color: var(--bw-color-utility-zinc-950);
  font-size: var(--bw-font-sm);
  line-height: var(--bw-line-6);
  text-align: left;

  @include dark-mode {
    color: var(--bw-color-utility-white);
  }
}

.column {
  border-bottom: 1px solid alpha(var(--bw-color-utility-zinc-950), 10);
  padding: var(--bw-space-2) var(--bw-space-4);
  color: var(--bw-color-utility-zinc-500);
  font-weight: var(--bw-weight-medium);

  &:where(:first-child) {
    padding-left: var(--bw-space-1);
  }

  &:where(:last-child) {
    padding-right: var(--bw-space-1);
  }

  @include screen-sm {
    &:where(:first-child) {
      padding-left: var(--bw-space-2);
    }

    &:where(:last-child) {
      padding-right: var(--bw-space-2);
    }
  }

  @include dark-mode {
    border-bottom: 1px solid alpha(var(--bw-color-utility-white), 10);
    color: var(--bw-color-utility-zinc-400);
  }
}

.cell {
  padding: var(--bw-space-4);

  &:where(:first-child) {
    padding-left: var(--bw-space-1);
  }

  &:where(:last-child) {
    padding-right: var(--bw-space-1);
  }

  &:where([role="rowheader"]) {
    font-weight: var(--bw-weight-medium);
  }

  @include screen-sm {
    &:where(:first-child) {
      padding-left: var(--bw-space-2);
    }

    &:where(:last-child) {
      padding-right: var(--bw-space-2);
    }
  }
}

.tableContainer {
  overflow: auto;
}

.rowHeader {
  font-weight: var(--bw-weight-medium);
}
