@use "@/styles/utils.scss" as *;

.root {
  display: inline-grid;
  place-items: center;
  border-radius: var(--bw-radius-full);
}

.initialsIcon {
  fill: currentColor;
  border-radius: 50%;
  padding: 5%;
  aspect-ratio: 1 / 1;
  width: var(--avatar-width);
  font-weight: var(--bw-weight-medium);
  font-size: 48px;
  text-transform: uppercase;

  &:where([data-color="blue"]) {
    background-color: var(--bw-color-utility-blue-500);
    color: var(--bw-color-utility-white);
  }

  &:where([data-color="black"]) {
    background-color: var(--bw-color-utility-zinc-900);
    color: var(--bw-color-utility-white);

    @include dark-mode {
      background-color: var(--bw-color-utility-white);
      color: var(--bw-color-utility-black);
    }
  }
}

.img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: var(--avatar-width);
}

.avatarBtn {
  display: grid;
  place-items: center;
  outline-offset: 2px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  @include outline-primary;

  &:where([data-hovered]) {
    cursor: pointer;
  }

  &:where(:not([data-focus-visible])) {
    outline: none;
  }
}
