@use "src/styles/utils" as *;

.submitButtonContainer {
  display: flex;
  margin-top: var(--bw-space-8);

  @include screen-sm {
    justify-content: flex-end;
  }
}

.submitButton {
  flex-grow: 1;

  @include screen-sm {
    flex-grow: 0;
  }
}

.form {
  margin-top: var(--bw-space-6);
}
