@use "@/styles/utils.scss" as *;

@keyframes open {
  from {
    translate: var(--anim-from-translate);
    scale: 0.95;
    opacity: 0;
  }
  to {
    translate: 0;
    scale: 1;
    opacity: 1;
  }
}

.root {
  backdrop-filter: var(--bw-blur-xl);
  box-shadow:
    0 0 0 1px alpha(var(--bw-color-utility-zinc-950), 10),
    var(--bw-shadow-lg);
  border-radius: var(--bw-radius-xl);
  background-color: alpha(var(--bw-color-utility-white), 75);

  &[data-placement="bottom"] {
    --anim-from-translate: 0 -0.5rem;
  }

  &[data-placement="top"] {
    --anim-from-translate: 0 0.5rem;
  }

  &[data-placement="left"] {
    --anim-from-translate: 0.5rem 0;
  }

  &[data-placement="right"] {
    --anim-from-translate: -0.5rem 0;
  }

  &[data-entering] {
    animation: open 0.05s var(--bw-timing-easeout);
  }

  &[data-exiting] {
    animation: open 0.05s var(--bw-timing-easein) reverse;
  }

  @include dark-mode {
    box-shadow:
      inset 0 0 0 1px alpha(var(--bw-color-utility-white), 10),
      var(--bw-shadow-lg);
    background-color: alpha(var(--bw-color-utility-zinc-800), 75);
  }
}
