@use "src/styles/utils.scss" as *;

:root {
  --bw-font-xs: 0.75rem;
  --bw-font-sm: 0.875rem;
  --bw-font-base: 1rem;
  --bw-font-lg: 1.125rem;
  --bw-font-xl: 1.25rem;
  --bw-font-2xl: 1.5rem;
  --bw-font-3xl: 1.875rem;

  --bw-weight-thin: 100;
  --bw-weight-extralight: 200;
  --bw-weight-light: 300;
  --bw-weight-normal: 400;
  --bw-weight-medium: 500;
  --bw-weight-semibold: 600;
  --bw-weight-bold: 700;
  --bw-weight-extrabold: 800;
  --bw-weight-black: 900;

  --bw-line-none: 1;
  --bw-line-tight: 1.25;
  --bw-line-snug: 1.375;
  --bw-line-normal: 1.5;
  --bw-line-relaxed: 1.625;
  --bw-line-loose: 2;
  --bw-line-3: 0.75rem;
  --bw-line-4: 1rem;
  --bw-line-5: 1.25rem;
  --bw-line-6: 1.5rem;
  --bw-line-7: 1.75rem;
  --bw-line-8: 2rem;
  --bw-line-9: 2.25rem;
  --bw-line-10: 2.5rem;

  --bw-shadow-sm:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --bw-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --bw-shadow-md:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  --bw-shadow-lg:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --bw-shadow-xl:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --bw-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --bw-shadow-none: none;

  --bw-radius-xs: 0.125rem;
  --bw-radius-sm: 0.25rem;
  --bw-radius-md: 0.375rem;
  --bw-radius-lg: 0.5rem;
  --bw-radius-xl: 0.75rem;
  --bw-radius-2xl: 1rem;
  --bw-radius-3xl: 1.5rem;
  --bw-radius-full: 9999px;

  --bw-timing-easein: cubic-bezier(0, 0, 0.2, 1);
  --bw-timing-easeout: cubic-bezier(0.4, 0, 1, 1);

  --bw-blur-xs: blur(4px);
  --bw-blur-sm: blur(8px);
  --bw-blur-md: blur(12px);
  --bw-blur-lg: blur(16px);
  --bw-blur-xl: blur(24px);
  --bw-blur-2xl: blur(40px);
  --bw-blur-3xl: blur(64px);

  --bw-space-0: 0;
  --bw-space-0-5: 0.125rem;
  --bw-space-1: 0.25rem;
  --bw-space-1-5: 0.375rem;
  --bw-space-2: 0.5rem;
  --bw-space-2-5: 0.625rem;
  --bw-space-3: 0.75rem;
  --bw-space-3-5: 0.875rem;
  --bw-space-4: 1rem;
  --bw-space-5: 1.25rem;
  --bw-space-6: 1.5rem;
  --bw-space-7: 1.75rem;
  --bw-space-8: 2rem;
  --bw-space-9: 2.25rem;
  --bw-space-10: 2.5rem;
  --bw-space-11: 2.75rem;
  --bw-space-12: 3rem;
  --bw-space-14: 3.5rem;
  --bw-space-16: 4rem;
  --bw-space-20: 5rem;
  --bw-space-24: 6rem;
  --bw-space-28: 7rem;
  --bw-space-32: 8rem;
  --bw-space-36: 9rem;
  --bw-space-40: 10rem;
  --bw-space-48: 12rem;
  --bw-space-56: 14rem;
  --bw-space-64: 16rem;
  --bw-space-72: 18rem;
  --bw-space-80: 20rem;
  --bw-space-96: 24rem;
}

:root {
  --bw-color-utility-black: #000000;
  --bw-color-utility-white: #ffffff;

  --bw-color-utility-gray-25: #fafafa;
  --bw-color-utility-gray-50: #f2f2f2;
  --bw-color-utility-gray-100: #e6e6e6;
  --bw-color-utility-gray-200: #cccccc;
  --bw-color-utility-gray-300: #b3b3b3;
  --bw-color-utility-gray-400: #999999;
  --bw-color-utility-gray-500: #808080;
  --bw-color-utility-gray-600: #666666;
  --bw-color-utility-gray-700: #4d4d4d;
  --bw-color-utility-gray-800: #333333;
  --bw-color-utility-gray-900: #1a1a1a;
  --bw-color-utility-gray-950: #0a0a0a; /* Near black */

  --bw-color-utility-zinc-50: rgb(250 250 250);
  --bw-color-utility-zinc-100: rgb(244 244 245);
  --bw-color-utility-zinc-200: rgb(228 228 231);
  --bw-color-utility-zinc-300: rgb(212 212 216);
  --bw-color-utility-zinc-400: rgb(161 161 170);
  --bw-color-utility-zinc-500: rgb(113 113 122);
  --bw-color-utility-zinc-600: rgb(82 82 91);
  --bw-color-utility-zinc-700: rgb(63 63 70);
  --bw-color-utility-zinc-800: rgb(39 39 42);
  --bw-color-utility-zinc-900: rgb(24 24 27);
  --bw-color-utility-zinc-950: rgb(9 9 11);

  --bw-color-utility-brand-50: rgb(250 250 250);
  --bw-color-utility-brand-100: rgb(244 244 245);
  --bw-color-utility-brand-200: rgb(228 228 231);
  --bw-color-utility-brand-300: rgb(212 212 216);
  --bw-color-utility-brand-400: rgb(161 161 170);
  --bw-color-utility-brand-500: rgb(113 113 122);
  --bw-color-utility-brand-600: rgb(82 82 91);
  --bw-color-utility-brand-700: rgb(63 63 70);
  --bw-color-utility-brand-800: rgb(39 39 42);
  --bw-color-utility-brand-900: rgb(24 24 27);
  --bw-color-utility-brand-950: rgb(9 9 11);

  --bw-color-utility-error-50: rgb(254 242 242);
  --bw-color-utility-error-100: rgb(254 226 226);
  --bw-color-utility-error-200: rgb(254 202 202);
  --bw-color-utility-error-300: rgb(252 165 165);
  --bw-color-utility-error-400: rgb(248 113 113);
  --bw-color-utility-error-500: rgb(239 68 68);
  --bw-color-utility-error-600: rgb(220 38 38);
  --bw-color-utility-error-700: rgb(185 28 28);
  --bw-color-utility-error-800: rgb(153 27 27);
  --bw-color-utility-error-900: rgb(127 29 29);
  --bw-color-utility-error-950: rgb(69 10 10);

  --bw-color-utility-warning-50: rgb(255 251 235);
  --bw-color-utility-warning-100: rgb(254 243 199);
  --bw-color-utility-warning-200: rgb(253 230 138);
  --bw-color-utility-warning-300: rgb(252 211 77);
  --bw-color-utility-warning-400: rgb(251 191 36);
  --bw-color-utility-warning-500: rgb(245 158 11);
  --bw-color-utility-warning-600: rgb(217 119 6); /* Main warning color */
  --bw-color-utility-warning-700: rgb(180 83 9);
  --bw-color-utility-warning-800: rgb(146 64 14);
  --bw-color-utility-warning-900: rgb(120 53 15);
  --bw-color-utility-warning-950: rgb(69 26 3); /* Darker for background */

  --bw-color-utility-success-50: rgb(236 253 245);
  --bw-color-utility-success-100: rgb(209 250 229);
  --bw-color-utility-success-200: rgb(167 243 208);
  --bw-color-utility-success-300: rgb(110 231 183);
  --bw-color-utility-success-400: rgb(52 211 153);
  --bw-color-utility-success-500: rgb(16 185 129);
  --bw-color-utility-success-600: rgb(5 150 105); /* Main success color */
  --bw-color-utility-success-700: rgb(4 120 87);
  --bw-color-utility-success-800: rgb(6 95 70);
  --bw-color-utility-success-900: rgb(6 78 59);
  --bw-color-utility-success-950: rgb(2 44 34); /* Darker for background */

  --bw-color-utility-blue-50: rgb(239 246 255);
  --bw-color-utility-blue-100: rgb(219 234 254);
  --bw-color-utility-blue-200: rgb(191 219 254);
  --bw-color-utility-blue-300: rgb(147 197 253);
  --bw-color-utility-blue-400: rgb(96 165 250);
  --bw-color-utility-blue-500: rgb(59 130 246);
  --bw-color-utility-blue-600: rgb(37 99 235);
  --bw-color-utility-blue-700: rgb(29 78 216);
  --bw-color-utility-blue-800: rgb(30 64 175);
  --bw-color-utility-blue-900: rgb(30 58 138);
  --bw-color-utility-blue-950: rgb(23 37 84);
}

// https://www.figma.com/design/kgdjQ9ra3ZOGE1GJppEDQt/Team-Library?node-id=6472-97620&t=OMxjpj3wo6rggG1Z-4
:root {
  --bw-color-text-primary: var(--bw-color-utility-zinc-900);
  --bw-color-text-primary_on-brand: var(--bw-color-utility-white);
  --bw-color-text-secondary: var(--bw-color-utility-gray-700);
  --bw-color-text-secondary_hover: var(--bw-color-utility-gray-800);
  --bw-color-text-secondary_on-brand: var(--bw-color-utility-brand-200);
  --bw-color-text-tertiary: var(--bw-color-utility-zinc-500);
  --bw-color-text-tertiary_hover: var(--bw-color-utility-gray-700);
  --bw-color-text-tertiary_on-brand: var(--bw-color-utility-brand-200);
  --bw-color-text-quaternary: var(--bw-color-utility-gray-500);
  --bw-color-text-quaternary_on-brand: var(--bw-color-utility-brand-300);
  --bw-color-text-white: var(--bw-color-utility-white);
  --bw-color-text-disabled: var(--bw-color-utility-gray-500);
  --bw-color-text-placeholder: var(--bw-color-utility-zinc-500);
  --bw-color-text-placeholder_subtle: var(--bw-color-utility-gray-300);
  --bw-color-text-brand-primary: var(--bw-color-utility-brand-900);
  --bw-color-text-brand-secondary: var(--bw-color-utility-brand-700);
  --bw-color-text-brand-secondary_hover: var(--bw-color-utility-brand-800);
  --bw-color-text-brand-tertiary: var(--bw-color-utility-brand-600);
  --bw-color-text-brand-tertiary_alt: var(--bw-color-utility-brand-600);
  --bw-color-text-error-primary: var(--bw-color-utility-error-600);
  --bw-color-text-warning-primary: var(--bw-color-utility-warning-600);
  --bw-color-text-success-primary: var(--bw-color-utility-success-600);

  --bw-color-border-primary: var(--bw-color-utility-gray-300);
  --bw-color-border-secondary: var(--bw-color-utility-gray-200);
  --bw-color-border-secondary_alt: rgba(0, 0, 0, 0.08);
  --bw-color-border-tertiary: var(--bw-color-utility-gray-100);
  --bw-color-border-disabled: var(--bw-color-utility-gray-300);
  --bw-color-border-disabled_subtle: var(--bw-color-utility-gray-200);
  --bw-color-border-brand: var(--bw-color-utility-brand-500);
  --bw-color-border-brand_alt: var(--bw-color-utility-brand-600);
  --bw-color-border-error: var(--bw-color-utility-error-500);
  --bw-color-border-error_subtle: var(--bw-color-utility-error-300);

  --bw-color-fg-primary: var(--bw-color-utility-gray-900);
  --bw-color-fg-secondary: var(--bw-color-utility-gray-700);
  --bw-color-fg-secondary_hover: var(--bw-color-utility-gray-800);
  --bw-color-fg-tertiary: var(--bw-color-utility-gray-600);
  --bw-color-fg-tertiary_hover: var(--bw-color-utility-gray-700);
  --bw-color-fg-quaternary: var(--bw-color-utility-gray-400);
  --bw-color-fg-quaternary_hover: var(--bw-color-utility-gray-500);
  --bw-color-fg-white: var(--bw-color-utility-white);
  --bw-color-fg-disabled: var(--bw-color-utility-gray-400);
  --bw-color-fg-disabled_subtle: var(--bw-color-utility-gray-300);
  --bw-color-fg-brand-primary: var(--bw-color-utility-brand-600);
  --bw-color-fg-brand-primary_alt: var(--bw-color-utility-brand-600);
  --bw-color-fg-brand-secondary: var(--bw-color-utility-brand-500);
  --bw-color-fg-brand-secondary_alt: var(--bw-color-utility-brand-500);
  --bw-color-fg-error-primary: var(--bw-color-utility-error-600);
  --bw-color-fg-error-secondary: var(--bw-color-utility-error-500);
  --bw-color-fg-warning-primary: var(--bw-color-utility-warning-600);
  --bw-color-fg-warning-secondary: var(--bw-color-utility-warning-500);
  --bw-color-fg-success-primary: var(--bw-color-utility-success-600);
  --bw-color-fg-success-secondary: var(--bw-color-utility-success-500);

  --bw-color-bg-primary: var(--bw-color-utility-white);
  --bw-color-bg-primary_alt: var(--bw-color-utility-white);
  --bw-color-bg-primary_hover: var(--bw-color-utility-gray-50);
  --bw-color-bg-primary-solid: var(--bw-color-utility-gray-950);
  --bw-color-bg-secondary: var(--bw-color-utility-gray-50);
  --bw-color-bg-secondary_alt: var(--bw-color-utility-gray-50);
  --bw-color-bg-secondary_hover: var(--bw-color-utility-gray-100);
  --bw-color-bg-secondary_subtle: var(--bw-color-utility-gray-25);
  --bw-color-bg-secondary-solid: var(--bw-color-utility-gray-600);
  --bw-color-bg-tertiary: var(--bw-color-utility-gray-100);
  --bw-color-bg-quaternary: var(--bw-color-utility-gray-200);
  --bw-color-bg-active: var(--bw-color-utility-gray-50);
  --bw-color-bg-disabled: var(--bw-color-utility-gray-100);
  --bw-color-bg-disabled_subtle: var(--bw-color-utility-gray-50);
  --bw-color-bg-overlay: var(--bw-color-utility-gray-950);
  --bw-color-bg-brand-primary: var(--bw-color-utility-brand-50);
  --bw-color-bg-brand-primary_alt: var(--bw-color-utility-brand-50);
  --bw-color-bg-brand-secondary: var(--bw-color-utility-brand-100);
  --bw-color-bg-brand-solid: var(--bw-color-utility-brand-900);
  --bw-color-bg-brand-solid_hover: var(--bw-color-utility-brand-600);
  --bw-color-bg-brand-section: var(--bw-color-utility-brand-800);
  --bw-color-bg-brand-section_subtle: var(--bw-color-utility-brand-700);
  --bw-color-bg-error-primary: var(--bw-color-utility-error-50);
  --bw-color-bg-error-secondary: var(--bw-color-utility-error-100);
  --bw-color-bg-error-solid: var(--bw-color-utility-error-600);
  --bw-color-bg-error-solid_hover: var(--bw-color-utility-error-700);
  --bw-color-bg-warning-primary: var(--bw-color-utility-warning-50);
  --bw-color-bg-warning-secondary: var(--bw-color-utility-warning-100);
  --bw-color-bg-warning-solid: var(--bw-color-utility-warning-600);
  --bw-color-bg-success-primary: var(--bw-color-utility-success-50);
  --bw-color-bg-success-secondary: var(--bw-color-utility-success-100);
  --bw-color-bg-success-solid: var(--bw-color-utility-success-600);

  --bw-color-outline-primary: var(--bw-color-utility-blue-500);

  @include dark-mode {
    --bw-color-text-primary: var(--bw-color-utility-white);
    --bw-color-text-primary_on-brand: var(--bw-color-utility-gray-50);
    --bw-color-text-secondary: var(--bw-color-utility-gray-300);
    --bw-color-text-secondary_hover: var(--bw-color-utility-gray-200);
    --bw-color-text-secondary_on-brand: var(--bw-color-utility-gray-300);
    --bw-color-text-tertiary: var(--bw-color-utility-zinc-400);
    --bw-color-text-tertiary_hover: var(--bw-color-utility-gray-300);
    --bw-color-text-tertiary_on-brand: var(--bw-color-utility-gray-400);
    --bw-color-text-quaternary: var(--bw-color-utility-gray-400);
    --bw-color-text-quaternary_on-brand: var(--bw-color-utility-gray-400);
    --bw-color-text-white: var(--bw-color-utility-white); /* Always white */
    --bw-color-text-disabled: var(--bw-color-utility-gray-500);
    --bw-color-text-placeholder: var(--bw-color-utility-zinc-500);
    --bw-color-text-placeholder_subtle: var(--bw-color-utility-gray-700);
    --bw-color-text-brand-primary: var(--bw-color-utility-gray-50);
    --bw-color-text-brand-secondary: var(--bw-color-utility-gray-300);
    --bw-color-text-brand-secondary_hover: var(--bw-color-utility-gray-300);
    --bw-color-text-brand-tertiary: var(--bw-color-utility-gray-400);
    --bw-color-text-brand-tertiary_alt: var(--bw-color-utility-gray-50);
    --bw-color-text-error-primary: var(--bw-color-utility-error-400);
    --bw-color-text-warning-primary: var(--bw-color-utility-warning-400);
    --bw-color-text-success-primary: var(--bw-color-utility-success-400);

    --bw-color-border-primary: var(--bw-color-utility-gray-700);
    --bw-color-border-secondary: var(--bw-color-utility-gray-800);
    --bw-color-border-secondary_alt: var(--bw-color-utility-gray-800);
    --bw-color-border-tertiary: var(--bw-color-utility-gray-800);
    --bw-color-border-disabled: var(--bw-color-utility-gray-700);
    --bw-color-border-disabled_subtle: var(--bw-color-utility-gray-800);
    --bw-color-border-brand: var(--bw-color-utility-brand-400);
    --bw-color-border-brand_alt: var(--bw-color-utility-gray-700);
    --bw-color-border-error: var(--bw-color-utility-error-400);
    --bw-color-border-error_subtle: var(--bw-color-utility-error-500);

    --bw-color-fg-primary: var(--bw-color-utility-white);
    --bw-color-fg-secondary: var(--bw-color-utility-gray-300);
    --bw-color-fg-secondary_hover: var(--bw-color-utility-gray-200);
    --bw-color-fg-tertiary: var(--bw-color-utility-gray-400);
    --bw-color-fg-tertiary_hover: var(--bw-color-utility-gray-300);
    --bw-color-fg-quaternary: var(--bw-color-utility-gray-600);
    --bw-color-fg-quaternary_hover: var(--bw-color-utility-gray-500);
    --bw-color-fg-white: var(--bw-color-utility-white);
    --bw-color-fg-disabled: var(--bw-color-utility-gray-500);
    --bw-color-fg-disabled_subtle: var(--bw-color-utility-gray-600);
    --bw-color-fg-brand-primary: var(--bw-color-utility-brand-500);
    --bw-color-fg-brand-primary_alt: var(--bw-color-utility-gray-300);
    --bw-color-fg-brand-secondary: var(--bw-color-utility-brand-500);
    --bw-color-fg-brand-secondary_alt: var(--bw-color-utility-gray-600);
    --bw-color-fg-error-primary: var(--bw-color-utility-error-500);
    --bw-color-fg-error-secondary: var(--bw-color-utility-error-400);
    --bw-color-fg-warning-primary: var(--bw-color-utility-warning-500);
    --bw-color-fg-warning-secondary: var(--bw-color-utility-warning-400);
    --bw-color-fg-success-primary: var(--bw-color-utility-success-500);
    --bw-color-fg-success-secondary: var(--bw-color-utility-success-400);

    --bw-color-bg-primary: var(--bw-color-utility-zinc-900);
    --bw-color-bg-primary_alt: var(--bw-color-utility-gray-900);
    --bw-color-bg-primary_hover: var(--bw-color-utility-gray-800);
    --bw-color-bg-primary-solid: var(--bw-color-utility-gray-900);
    --bw-color-bg-secondary: var(--bw-color-utility-gray-900);
    --bw-color-bg-secondary_alt: var(--bw-color-utility-gray-950);
    --bw-color-bg-secondary_hover: var(--bw-color-utility-gray-800);
    --bw-color-bg-secondary_subtle: var(--bw-color-utility-gray-900);
    --bw-color-bg-secondary-solid: var(--bw-color-utility-gray-600);
    --bw-color-bg-tertiary: var(--bw-color-utility-gray-800);
    --bw-color-bg-quaternary: var(--bw-color-utility-gray-700);
    --bw-color-bg-active: var(--bw-color-utility-gray-800);
    --bw-color-bg-disabled: var(--bw-color-utility-gray-800);
    --bw-color-bg-disabled_subtle: var(--bw-color-utility-gray-900);
    --bw-color-bg-overlay: var(--bw-color-utility-gray-800);
    --bw-color-bg-brand-primary: var(--bw-color-utility-brand-500);
    --bw-color-bg-brand-primary_alt: var(--bw-color-utility-gray-800);
    --bw-color-bg-brand-secondary: var(--bw-color-utility-brand-600);
    --bw-color-bg-brand-solid: var(--bw-color-utility-brand-600);
    --bw-color-bg-brand-solid_hover: var(--bw-color-utility-brand-500);
    --bw-color-bg-brand-section: var(--bw-color-utility-gray-800);
    --bw-color-bg-brand-section_subtle: var(--bw-color-utility-gray-950);
    --bw-color-bg-error-primary: var(--bw-color-utility-error-950);
    --bw-color-bg-error-secondary: var(--bw-color-utility-error-600);
    --bw-color-bg-error-solid: var(--bw-color-utility-error-600);
    --bw-color-bg-error-solid_hover: var(--bw-color-utility-error-500);
    --bw-color-bg-warning-primary: var(--bw-color-utility-warning-950);
    --bw-color-bg-warning-secondary: var(--bw-color-utility-warning-600);
    --bw-color-bg-warning-solid: var(--bw-color-utility-warning-600);
    --bw-color-bg-success-primary: var(--bw-color-utility-success-950);
    --bw-color-bg-success-secondary: var(--bw-color-utility-success-600);
    --bw-color-bg-success-solid: var(--bw-color-utility-success-600);

    --bw-color-outline-primary: var(--bw-color-utility-blue-400);
  }
}
