$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

$query-sm: "(min-width: #{$breakpoint-sm})";
$query-md: "(min-width: #{$breakpoint-md})";
$query-lg: "(min-width: #{$breakpoint-lg})";
$query-xl: "(min-width: #{$breakpoint-xl})";
$query-xxl: "(min-width: #{$breakpoint-xxl})";
$query-forcedColors: "(forced-colors: active)";

@function spacing($size) {
  @return $size * 0.25rem;
}

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 1.875rem;

$weight-thin: 100;
$weight-extralight: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;

$line-none: 1;
$line-tight: 1.25;
$line-snug: 1.375;
$line-normal: 1.5;
$line-relaxed: 1.625;
$line-loose: 2;
$line-3: 0.75rem;
$line-4: 1rem;
$line-5: 1.25rem;
$line-6: 1.5rem;
$line-7: 1.75rem;
$line-8: 2rem;
$line-9: 2.25rem;
$line-10: 2.5rem;

$shadow-sm:
  0 1px 3px 0 rgba(0, 0, 0, 0.1),
  0 1px 2px -1px rgba(0, 0, 0, 0.1);
$shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md:
  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.1);
$shadow-lg:
  0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
$shadow-xl:
  0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-none: none;

$radius-xs: 0.125rem;
$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$radius-3xl: 1.5rem;
$radius-full: 9999px;

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

// Blue Shades
$color-blue-50: rgb(239, 246, 255);
$color-blue-100: rgb(219, 234, 254);
$color-blue-200: rgb(191, 219, 254);
$color-blue-300: rgb(147, 197, 253);
$color-blue-400: rgb(96, 165, 250);
$color-blue-500: rgb(59, 130, 246);
$color-blue-600: rgb(37, 99, 235);
$color-blue-700: rgb(29, 78, 216);
$color-blue-800: rgb(30, 64, 175);
$color-blue-900: rgb(30, 58, 138);
$color-blue-950: rgb(23, 37, 84);

// Red Shades
$color-red-50: rgb(254, 242, 242);
$color-red-100: rgb(254, 226, 226);
$color-red-200: rgb(254, 202, 202);
$color-red-300: rgb(252, 165, 165);
$color-red-400: rgb(248, 113, 113);
$color-red-500: rgb(239, 68, 68);
$color-red-600: rgb(220, 38, 38);
$color-red-700: rgb(185, 28, 28);
$color-red-800: rgb(153, 27, 27);
$color-red-900: rgb(127, 29, 29);
$color-red-950: rgb(69, 10, 10);

// Zinc Shades
$color-zinc-50: rgb(250, 250, 250);
$color-zinc-100: rgb(244, 244, 245);
$color-zinc-200: rgb(228, 228, 231);
$color-zinc-300: rgb(212, 212, 216);
$color-zinc-400: rgb(161, 161, 170);
$color-zinc-500: rgb(113, 113, 122);
$color-zinc-600: rgb(82, 82, 91);
$color-zinc-700: rgb(63, 63, 70);
$color-zinc-800: rgb(39, 39, 42);
$color-zinc-900: rgb(24, 24, 27);
$color-zinc-950: rgb(9, 9, 11);

$timing-easeIn: cubic-bezier(0, 0, 0.2, 1);
$timing-easeOut: cubic-bezier(0.4, 0, 1, 1);

$blur-xs: blur(4px);
$blur-sm: blur(8px);
$blur-md: blur(12px);
$blur-lg: blur(16px);
$blur-xl: blur(24px);
$blur-2xl: blur(40px);
$blur-3xl: blur(64px);
