@use "src/styles/utils" as *;

.root {
  --bw-tooltip-background-color: var(--bw-color-utility-white);
  --bw-tooltip-color: var(--bw-color-utility-black);
  --bw-tooltip-border-color: var(--bw-color-utility-zinc-200);
  @include dark-mode {
    --bw-tooltip-background-color: var(--bw-color-utility-zinc-600);
    --bw-tooltip-color: var(--bw-color-utility-white);
    --bw-tooltip-border-color: transparent;
  }
}

.root {
  box-shadow: var(--bw-shadow-sm);
  border: 1px solid var(--bw-tooltip-border-color);
  border-radius: var(--bw-radius-md);
  background-color: var(--bw-tooltip-background-color);
  padding: var(--bw-space-1-5) var(--bw-space-2-5);
  max-width: var(--bw-space-64);
  color: var(--bw-tooltip-color);

  @include screen-sm {
    padding: var(--bw-space-1) var(--bw-space-2);
    font-size: var(--bw-font-sm);
  }
}
