@use "src/styles/utils" as *;

.root {
  --title-color: var(--bw-color-utility-zinc-900);
  --hover-title-color: var(--bw-color-utility-zinc-600);
  --description-color: var(--bw-color-utility-zinc-500);
  --author-name-color: var(--bw-color-utility-zinc-900);
  --author-position-color: var(--bw-color-utility-zinc-600);
  --avatar-background-color: var(--bw-color-utility-zinc-50);

  @include dark-mode {
    --title-color: var(--bw-color-utility-zinc-100);
    --hover-title-color: var(--bw-color-utility-zinc-300);
    --description-color: var(--bw-color-utility-zinc-400);
    --author-name-color: var(--bw-color-utility-zinc-300);
    --author-position-color: var(--bw-color-utility-zinc-500);
    --avatar-background-color: var(--bw-color-utility-zinc-800);
  }
}

.publishedAt {
  color: var(--bw-color-utility-zinc-500);
  font-size: var(--bw-font-sm);
}

.header {
  position: relative;
  margin-top: var(--bw-space-1);

  &:hover > h3 {
    color: var(--hover-title-color);
  }
}

.title {
  color: var(--title-color);
  font-size: var(--bw-font-xl);
  line-height: var(--bw-line-relaxed);
}

.titleLink {
  color: inherit;
  text-decoration: none;
}

.description {
  margin-top: var(--bw-space-2);
  color: var(--description-color);
  font-size: var(--bw-font-sm);
  line-height: var(--bw-line-6);

  @include line-clamp(2);
}

.bottomBar {
  margin-top: var(--bw-space-3);
}

.authorContainer {
  position: relative;
}

.authorAvatar {
  border-radius: var(--bw-radius-full);
  background-color: var(--avatar-background-color);
}

.authorName {
  color: var(--author-name-color);
  font-weight: var(--bw-weight-normal);
  font-size: var(--bw-font-sm);
}

.authorNameLink {
  color: inherit;
  text-decoration: none;
}

.spanner {
  position: absolute;
  inset: 0;
}

.bookmarkButton {
  color: alpha(var(--bw-color-text-quaternary), 30);
}
