@use "src/styles/utils.scss" as *;

.root {
  display: block;
  color: var(--bw-color-text-error-primary);
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);

  &:where([data-disabled]) {
    opacity: 50%;
  }

  @include screen-sm {
    font-size: var(--bw-font-sm);
  }
}
