@use "src/styles/utils.scss" as *;

.root {
  display: block;
  user-select: none;
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  color: var(--bw-color-zinc-950);
  font-weight: var(--bw-weight-medium);

  &:where([data-disabled]) {
    opacity: 50%;
  }

  @include screen-sm {
    font-size: var(--bw-font-sm);
  }

  @include dark-mode {
    color: var(--bw-color-white);
  }
}

.requiredIndicator {
  color: var(--bw-color-red-500);
}
