@use "src/styles/utils.scss" as *;

.root {
  display: block;
  color: var(--bw-color-text-primary);
  font-weight: var(--bw-weight-medium);
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  user-select: none;

  &:where([data-disabled]) {
    opacity: 50%;
  }

  @include screen-sm {
    font-size: var(--bw-font-sm);
    line-height: var(--bw-line-5);
  }
}

.requiredIndicator {
  color: inherit;
}
