@use "src/styles/utils.scss" as *;

.root {
  display: inline-flex;
  position: relative;
  column-gap: var(--bw-space-2);
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--bw-radius-lg);
  isolation: isolate;
  padding: calc(var(--bw-space-2-5) - 1px) calc(var(--bw-space-3-5) - 1px);
  font-weight: var(--bw-weight-semibold);
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  text-decoration: none;

  &:where([data-focused]) {
    outline-offset: 2px;
    @include outline-primary;
  }

  &:where(:not([data-focus-visible])) {
    outline: none;
  }

  &:where([data-disabled], [data-spinner-visible]) {
    // TODO: find a way to not apply opacity to the button's outline.
    opacity: 0.5;
  }

  &:where([data-hovered]) {
    cursor: pointer;
  }

  @include screen-sm {
    padding: calc(var(--bw-space-1-5) - 1px) calc(var(--bw-space-3) - 1px);
    font-size: var(--bw-font-sm);
  }
}

.colorBrand {
  --bw-primary-button-background-color: #{alpha(
      var(--bw-color-utility-brand-950),
      90
    )};
  --bw-primary-button-before-background-color: var(
    --bw-color-utility-brand-900
  );

  --bw-secondary-button-color: var(--bw-color-text-brand-primary);
  --bw-secondary-button-border-color: #{alpha(
      var(--bw-color-utility-brand-900),
      10
    )};
  --bw-secondary-button-hovered-background-color: var(
    --bw-color-bg-primary_hover
  );

  --bw-tertiary-button-color: var(--bw-color-text-brand-primary);
  --bw-tertiary-button-hovered-background-color: var(
    --bw-color-bg-primary_hover
  );

  @include dark-mode {
    --bw-primary-button-background-color: var(--bw-color-utility-brand-600);
    --bw-primary-button-before-background-color: var(
      --bw-color-utility-brand-600
    );

    --bw-secondary-button-border-color: var(--bw-color-utility-brand-700);
  }
}

.colorError {
  --bw-primary-button-background-color: var(--bw-color-bg-error-solid);
  --bw-primary-button-before-background-color: var(
    --bw-color-utility-error-600
  );

  --bw-secondary-button-color: var(--bw-color-text-error-primary);
  --bw-secondary-button-border-color: #{alpha(
      var(--bw-color-utility-error-600),
      20
    )};
  --bw-secondary-button-hovered-background-color: var(
    --bw-color-bg-error-primary
  );

  --bw-tertiary-button-color: var(--bw-color-text-error-primary);
  --bw-tertiary-button-hovered-background-color: var(
    --bw-color-bg-error-primary
  );

  @include dark-mode {
    --bw-secondary-button-border-color: #{alpha(
        var(--bw-color-utility-error-500),
        50
      )};
  }
}

.primary {
  --btn-before-display: initial;
  --btn-before-box-shadow: var(--bw-shadow-sm);
  --btn-after-inset: 0;
  --btn-after-border-radius: calc(var(--bw-radius-lg) - 1px);
  --btn-after-box-shadow: inset 0 1px
    #{alpha(var(--bw-color-utility-white), 15)};
  --btn-after-hover-background-color: #{alpha(
      var(--bw-color-utility-white),
      10
    )};
  --btn-border-color: var(--bw-color-utility-white);

  border-color: var(--btn-border-color);
  background-color: var(--bw-primary-button-background-color);
  color: var(--bw-color-utility-white);

  @include dark-mode {
    --btn-before-display: none;
    --btn-after-inset: -1px;
    --btn-after-border-radius: var(--bw-radius-lg);
    --btn-after-hover-background-color: #{alpha(
        var(--bw-color-utility-white),
        5
      )};
    --btn-border-color: #{alpha(var(--bw-color-utility-white), 5)};
  }

  &::before {
    display: var(--btn-before-display);
    position: absolute;
    z-index: -10;
    inset: 0;
    box-shadow: var(--btn-before-box-shadow);
    border-radius: calc(var(--bw-radius-lg) - 1px);
    background-color: var(--bw-primary-button-before-background-color);
    content: "";
  }

  &::after {
    position: absolute;
    z-index: -10;
    inset: var(--btn-after-inset);
    box-shadow: var(--btn-after-box-shadow);
    border-radius: var(--btn-after-border-radius);
    content: "";
  }

  &:where([data-hovered], [data-pressed])::after {
    background-color: var(--btn-after-hover-background-color);
  }

  &:where([data-disabled], [data-spinner-visible]) {
    --btn-before-box-shadow: none;
    --btn-after-box-shadow: none;
  }
}

.secondary {
  border-color: var(--bw-secondary-button-border-color);
  background-color: transparent;
  color: var(--bw-secondary-button-color);

  &:where([data-hovered], [data-pressed]) {
    background-color: var(--bw-secondary-button-hovered-background-color);
  }
}

.tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--bw-tertiary-button-color);

  &:where([data-hovered], [data-pressed]) {
    background-color: var(--bw-tertiary-button-hovered-background-color);
  }
}

.spinnerVisible {
  // Hide all children except for the loading indicator. Use `opacity: 0`
  // instead of `visibility: hidden` so that the screen reader can still
  // announce the button's content.
  & > :not([role="progressbar"]) {
    opacity: 0;
  }
}

.buttonIcon {
  flex-shrink: 0;
}

.progressBar {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  inset: 0;
  font-size: var(--bw-font-xl);
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconButton {
  padding: calc(var(--bw-space-2-5) - 1px);
  aspect-ratio: 1 / 1;
  font-size: var(--bw-font-2xl);

  @include screen-sm {
    padding: calc(var(--bw-space-1-5) - 1px);
  }
}
