@use "@/styles/utils.scss" as *;

@mixin is-interacting {
  &:where([data-hovered], [data-pressed]) {
    @content;
  }
}

@mixin is-inert {
  &:where([data-disabled], [data-spinner-visible]) {
    @content;
  }
}

.root {
  display: inline-flex;
  position: relative;
  column-gap: var(--bw-space-2);
  justify-content: center;
  align-items: center;

  border-width: 1px;
  border-style: solid;
  border-radius: var(--bw-radius-lg);
  isolation: isolate;
  padding: calc(var(--bw-space-2-5) - 1px) calc(var(--bw-space-3-5) - 1px);

  font-weight: var(--bw-weight-semibold);
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  text-decoration: none;

  &:where([data-hovered]) {
    cursor: pointer;
  }

  &:where([data-focused]) {
    outline-offset: 2px;
    @include outline-primary;
  }

  &:where(:not([data-focus-visible])) {
    outline: none;
  }

  @include is-inert {
    opacity: 0.5;
  }

  @include screen-sm {
    padding: calc(var(--bw-space-1-5) - 1px) calc(var(--bw-space-3) - 1px);
    font-size: var(--bw-font-sm);
  }
}

.iconButton {
  padding: calc(var(--bw-space-2-5) - 1px);
  aspect-ratio: 1 / 1;
  font-size: var(--bw-font-2xl);

  @include screen-sm {
    padding: calc(var(--bw-space-1-5) - 1px);
  }
}

.colorBrand {
  --btn-primary-bg: #{alpha(var(--bw-color-utility-brand-950), 90)};
  --btn-primary-underlay: var(--bw-color-utility-brand-900);

  --btn-secondary-fg: var(--bw-color-text-brand-primary);
  --btn-secondary-border: #{alpha(var(--bw-color-utility-brand-900), 10)};
  --btn-secondary-hover-bg: var(--bw-color-bg-primary_hover);

  --btn-tertiary-fg: var(--bw-color-text-brand-primary);
  --btn-tertiary-hover-bg: var(--bw-color-bg-primary_hover);

  @include dark-mode {
    --btn-primary-bg: var(--bw-color-utility-brand-600);
    --btn-primary-underlay: var(--bw-color-utility-brand-600);
    --btn-secondary-border: var(--bw-color-utility-brand-700);
  }
}

.colorError {
  --btn-primary-bg: var(--bw-color-bg-error-solid);
  --btn-primary-underlay: var(--bw-color-utility-error-600);

  --btn-secondary-fg: var(--bw-color-text-error-primary);
  --btn-secondary-border: #{alpha(var(--bw-color-utility-error-600), 20)};
  --btn-secondary-hover-bg: var(--bw-color-bg-error-primary);

  --btn-tertiary-fg: var(--bw-color-text-error-primary);
  --btn-tertiary-hover-bg: var(--bw-color-bg-error-primary);

  @include dark-mode {
    --btn-secondary-border: #{alpha(var(--bw-color-utility-error-500), 50)};
  }
}

.primary {
  --p-border: var(--bw-color-utility-white);

  --p-before-display: initial;
  --p-before-shadow: var(--bw-shadow-sm);

  --p-after-inset: 0;
  --p-after-radius: calc(var(--bw-radius-lg) - 1px);
  --p-after-shadow: inset 0 1px #{alpha(var(--bw-color-utility-white), 15)};
  --p-after-hover-bg: #{alpha(var(--bw-color-utility-white), 10)};

  border-color: var(--p-border);
  background-color: var(--btn-primary-bg);
  color: var(--bw-color-utility-white);

  @include dark-mode {
    --p-border: #{alpha(var(--bw-color-utility-white), 5)};
    --p-before-display: none;
    --p-after-inset: -1px;
    --p-after-radius: var(--bw-radius-lg);
    --p-after-hover-bg: #{alpha(var(--bw-color-utility-white), 5)};
  }

  &::before {
    display: var(--p-before-display);
    position: absolute;
    z-index: -10;
    inset: 0;
    box-shadow: var(--p-before-shadow);
    border-radius: calc(var(--bw-radius-lg) - 1px);
    background-color: var(--btn-primary-underlay);
    content: "";
  }

  &::after {
    position: absolute;
    z-index: -10;
    inset: var(--p-after-inset);
    box-shadow: var(--p-after-shadow);
    border-radius: var(--p-after-radius);
    content: "";
  }

  @include is-interacting {
    &::after {
      background-color: var(--p-after-hover-bg);
    }
  }

  @include is-inert {
    --p-before-shadow: none;
    --p-after-shadow: none;
  }
}

.secondary {
  border-color: var(--btn-secondary-border);
  background-color: transparent;
  color: var(--btn-secondary-fg);

  @include is-interacting {
    background-color: var(--btn-secondary-hover-bg);
  }
}

.tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--btn-tertiary-fg);

  @include is-interacting {
    background-color: var(--btn-tertiary-hover-bg);
  }
}

.spinnerVisible {
  & > :not([role="progressbar"]) {
    opacity: 0;
  }
}

.buttonIcon {
  flex-shrink: 0;
}

.progressBar {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  inset: 0;
  font-size: var(--bw-font-xl);
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
