@use "src/styles/utils" as *;

.root {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  font-size: var(--bw-font-size-base);
  line-height: var(--bw-line-height-6);
  color: var(--bw-color-zinc-950);
  appearance: none;
  border-radius: var(--bw-radius-lg);
  padding: calc(spacing(2.5) - 1px) calc(spacing(3.5) - 1px);
  --border-color: #{alpha(var(--bw-color-zinc-950), 10)};
  --border-hover-color: #{alpha(var(--bw-color-zinc-950), 20)};
  --outline: none;
  --outline-offset: 0;
  border: 1px solid var(--border-color);
  background-color: transparent;
  box-shadow: var(--bw-shadow-xs);

  &::placeholder {
    color: var(--bw-color-zinc-500);
  }

  &:where([data-hovered]) {
    border-color: var(--border-hover-color);
  }

  &:not(:first-child) {
    margin-top: spacing(3);
  }

  &:where([data-invalid]) {
    --border-color: var(--bw-color-red-500);
    --border-hover-color: var(--bw-color-red-500);
  }

  &:where([data-disabled]) {
    opacity: 50%;
    --border-color: #{alpha(var(--bw-color-zinc-950), 20)};
    box-shadow: none;
  }

  &:where([data-focused]) {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }

  #{$dark-mode-selector} {
    color: var(--bw-color-white);
    background-color: alpha(var(--bw-color-white), 5);
    --border-color: #{alpha(var(--bw-color-white), 10)};
    --border-hover-color: #{alpha(var(--bw-color-white), 20)};
    box-shadow: none;

    &:where([data-invalid]) {
      --border-color: var(--bw-color-red-500);
      --border-hover-color: var(--bw-color-red-500);
    }

    &:where([data-disabled]) {
      --border-color: #{alpha(var(--bw-color-white), 15)};
      --border-hover-color: #{alpha(var(--bw-color-white), 15)};
      background-color: alpha(var(--bw-color-white), 2.5);
    }
  }

  @media #{$query-sm} {
    padding: calc(spacing(1.5) - 1px) calc(spacing(3) - 1px);
    font-size: var(--bw-font-size-sm);

    --outline: 2px solid var(--bw-color-blue-500);
    --outline-offset: -2px;
  }
}

.errorMessage {
  margin-top: spacing(3);
}
