@use "src/styles/utils" as *;

.root {
  display: grid;
  position: fixed;
  grid-template-rows: 1fr auto;
  inset: 0;
  background-color: alpha(var(--bw-color-utility-zinc-950), 25);
  padding-top: var(--bw-space-12);
  width: 100vw;
  height: var(--visual-viewport-height);
  overflow-y: auto;

  &:where([data-entering]) {
    animation: fade 0.1s var(--bw-timing-easeout);
  }

  &:where([data-exiting]) {
    animation: fade 0.1s var(--bw-timing-easein) reverse;
  }

  @include screen-sm {
    grid-template-rows: 1fr auto 3fr;
    padding: var(--bw-space-8) var(--bw-space-6);
  }

  @include screen-lg {
    padding: var(--bw-space-16) var(--bw-space-8);
  }

  @include dark-mode {
    background-color: alpha(var(--bw-color-utility-zinc-950), 50);
  }
}

.modal {
  grid-row-start: 2;
  justify-self: center;
  width: 100%;
  min-width: 0;

  --enter-animation: slideUp 0.1s var(--bw-timing-easeout);
  --exit-animation: slideUp 0.1s var(--bw-timing-easein) reverse;

  &:where([data-entering]) {
    animation: var(--enter-animation);
  }

  &:where([data-exiting]) {
    animation: var(--exit-animation);
  }

  @include screen-sm {
    --enter-animation: zoom 0.1s var(--bw-timing-easeout);
    --exit-animation: none;
    margin-bottom: auto;
    max-width: var(--modal-sm-max-width);
  }
}

.dialog {
  outline: none;
  box-shadow: var(--bw-shadow-lg);
  border-top-right-radius: var(--bw-radius-3xl);
  border-top-left-radius: var(--bw-radius-3xl);
  background-color: var(--bw-color-utility-white);
  padding: var(--bw-space-8);

  @include screen-sm {
    border-radius: var(--bw-radius-2xl);
  }

  @include dark-mode {
    border: 1px solid alpha(var(--bw-color-utility-white), 10);
    background-color: var(--bw-color-utility-zinc-900);
  }
}

.dialogTitle {
  color: var(--bw-color-utility-zinc-950);
  font-weight: var(--bw-weight-semibold);
  font-size: var(--bw-font-lg);
  line-height: var(--bw-line-6);
  text-wrap: balance;

  @include screen-sm {
    font-size: var(--bw-font-base);
  }

  @include dark-mode {
    color: var(--bw-color-utility-white);
  }
}

.dialogBody {
  margin-top: var(--bw-space-6);
}

.dialogActions {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--bw-space-3);
  margin-top: var(--bw-space-8);
  --children-width: 100%;

  & > * {
    width: var(--children-width);
  }

  @include screen-sm {
    --children-width: auto;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(var(--bw-space-3));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
