@use "src/styles/utils" as *;

.displayName {
  width: max-content;
  min-width: var(--bw-space-32);
  max-width: var(--bw-space-56);
  font-weight: var(--bw-weight-medium);
}

.systemPrompt {
  max-width: var(--bw-space-56);
  @include line-clamp(3);
}

.lastArticleCell {
  max-width: var(--bw-space-56);
}

.lastArticleCellTitle {
  overflow: hidden;
  color: var(--bw-color-text-secondary);
  font-weight: var(--bw-weight-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lastArticleCellCreatedAt {
  color: var(--bw-color-text-tertiary);
  font-size: var(--bw-font-sm);
}
