@use "@/styles/utils.scss" as *;

.toastRegion {
  display: flex;
  position: fixed;
  top: var(--bw-space-3);
  right: var(--bw-space-3);
  left: var(--bw-space-3);
  flex-direction: column;
  gap: var(--bw-space-3);
  width: calc(100% - var(--bw-space-6));

  @include screen-sm {
    left: initial;
    width: var(--bw-space-80);
  }
}

.toastRoot {
  box-shadow: var(--bw-shadow-lg);
  border: 1px solid alpha(var(--bw-color-utility-zinc-950), 12);
  border-radius: var(--bw-radius-xl);
  background-color: var(--bw-color-utility-white);

  @include dark-mode {
    box-shadow:
      inset 0 0 0 1px alpha(var(--bw-color-utility-white), 10),
      var(--bw-shadow-lg);
    background-color: var(--bw-color-utility-zinc-800);
  }
}

.toast {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--bw-space-4);
  padding: var(--bw-space-4);
  padding-right: var(--bw-space-10);
}

.toastIcon {
  flex-shrink: 0;
  font-size: var(--bw-font-2xl);

  @include screen-sm {
    font-size: var(--bw-font-xl);
  }
}

.toastTitle {
  color: var(--bw-color-utility-zinc-950);
  font-weight: var(--bw-weight-medium);

  @include dark-mode {
    color: var(--bw-color-utility-zinc-50);
  }
}

.closeBtn {
  position: absolute;
  top: var(--bw-space-4);
  right: var(--bw-space-4);
  margin: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--bw-color-text-tertiary);
  font-size: var(--bw-font-lg);

  // TODO: add `before` pseudo-element to the close button to make it
  // easier to press.

  &:where([data-hovered]) {
    cursor: pointer;
  }
}

.fontWeightRegular {
  font-weight: var(--bw-weight-regular);
}
