@use "src/styles/utils" as *;

.root {
  --navbar-gap: var(--bw-space-4);
  display: flex;
  align-items: center;
  gap: var(--navbar-gap);
  width: 100%;
}

.spacer {
  flex: 1;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--bw-space-2);
  border: none;
  border-radius: var(--bw-radius-lg);
  background-color: transparent;
  padding: var(--bw-space-2);
  min-width: 0;
  color: var(--bw-color-utility-zinc-950);
  font-weight: var(--bw-weight-medium);
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  text-align: left;
  text-decoration: none;
  --navbar-item-hover-bg-color: #{alpha(var(--bw-color-utility-zinc-950), 5)};

  @include screen-sm {
    font-size: var(--bw-font-sm);
    line-height: var(--bw-line-5);
  }

  &:where([data-focused]) {
    @include outline-primary;
  }

  &:where(:not([data-focus-visible])) {
    outline: none;
  }

  &:where([data-hovered]) {
    cursor: pointer;
  }

  &:where([data-hovered], [data-pressed]) {
    background-color: var(--navbar-item-hover-bg-color);
  }

  @include dark-mode {
    --navbar-item-hover-bg-color: #{alpha(var(--bw-color-utility-white), 5)};
    color: var(--bw-color-utility-white);
  }
}
