@use "@/styles/utils" as *;

.itemList {
  display: flex;
  flex-direction: column;
  gap: var(--bw-space-1);
  padding: 0;
}

.item {
  list-style-type: none;
}

.link {
  @include text-sm;
  display: block;
  border-radius: var(--bw-radius-md);
  padding: var(--bw-space-2) var(--bw-space-3);
  color: var(--bw-color-text-quaternary);
  font-weight: var(--bw-weight-semibold);
  text-decoration: none;
  white-space: nowrap;

  &:where(:hover) {
    cursor: pointer;
    background-color: var(--bw-color-bg-active);
    color: var(--bw-color-text-primary);
  }
}

.activeLink {
  background-color: var(--bw-color-bg-active);
  color: var(--bw-color-text-primary);
}
