@use "src/styles/utils" as *;

.itemList {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.item {
  list-style-type: none;
}

.link {
  @include text-sm;
  display: block;
  padding: var(--bw-space-2) var(--bw-space-3);
  font-weight: var(--bw-weight-semibold);
  color: var(--bw-color-text-quaternary);
  border-radius: var(--bw-radius-md);
  white-space: nowrap;
  text-decoration: none;

  &:where(:hover) {
    cursor: pointer;
    background-color: var(--bw-color-bg-active);
    color: var(--bw-color-text-primary);
  }
}

.activeLink {
  background-color: var(--bw-color-bg-active);
  color: var(--bw-color-text-primary);
}
