@use "@/styles/utils" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: var(--bw-blur-xl);
  transition:
    background-color 0.1s ease,
    border 0.1s ease;
  border-bottom: 1px solid var(--bw-color-utility-zinc-100);
  background-color: alpha(var(--bw-color-utility-white), 50);
  padding: var(--bw-space-2) 0;

  @include dark-mode {
    backdrop-filter: none;
    border-bottom-color: transparent;
    background-color: var(--bw-color-utility-zinc-900);
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: var(--bw-space-4);
  padding-top: var(--bw-space-6);

  @include screen-sm {
    flex-direction: row;
    gap: var(--bw-space-8);
  }
}

.aside {
  @include screen-sm {
    flex-grow: 1;
    flex-basis: 0;
    min-width: var(--bw-space-36);
  }
}

.main {
  margin-top: var(--bw-space-2);

  @include screen-sm {
    flex-grow: 4;
    flex-basis: 0;
    margin-top: 0;
  }
}

.desktopSidebar {
  display: none;

  @include screen-sm {
    display: block;
  }
}

.mobileSidebar {
  display: block;

  @include screen-sm {
    display: none;
  }
}

.root {
  height: 100svh;
}
