@use "src/styles/utils" as *;

.root {
  --blogCard-border-bottom-color: var(--bw-color-zinc-100);

  @include dark-mode {
    --blogCard-border-bottom-color: var(--bw-color-zinc-800);
  }
}

.main {
  padding-top: var(--bw-space-3);
  padding-bottom: var(--bw-space-4);
}

.section {
  padding: 0 var(--bw-space-4);
}

.blogs {
  display: flex;
  flex-direction: column;
}

.blogCard {
  padding-top: var(--bw-space-5);
  padding-bottom: var(--bw-space-5);
  border-bottom: 1px solid var(--blogCard-border-bottom-color);
  transition: border 0.1s ease;
}

.readMoreContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--bw-space-3);
}
