@use "src/styles/utils" as *;

.root {
  --header-border-bottom-color: var(--bw-color-zinc-100);

  @include dark-mode {
    --header-border-bottom-color: transparent;
  }
}

.header {
  padding: spacing(2) 0;
  border-bottom: 1px solid var(--header-border-bottom-color);
  position: sticky;
  top: 0;
  backdrop-filter: var(--bw-blur-xl);
  background-color: alpha(var(--bw-color-white), 50);
  z-index: 1;
  transition:
    background-color 0.1s ease,
    border 0.1s ease;

  @include dark-mode {
    background-color: var(--bw-color-zinc-900);
    backdrop-filter: none;
  }
}

.logo {
  font-size: var(--bw-font-xl);
  font-weight: var(--bw-weight-semibold);
  letter-spacing: -0.025em;
  text-decoration: none;
  text-underline-offset: 0.125rem;
  padding-left: spacing(2);

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

.loginLink {
  display: none;

  @include screen-sm {
    display: flex;
  }
}

.mobileLoginLink {
  @include screen-sm {
    display: none;
  }
}
