@use "src/styles/utils" as *;

.root {
  --header-border-bottom-color: var(--bw-color-utility-zinc-100);

  @include dark-mode {
    --header-border-bottom-color: transparent;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: var(--bw-blur-xl);
  transition:
    background-color 0.1s ease,
    border 0.1s ease;
  border-bottom: 1px solid var(--header-border-bottom-color);
  background-color: alpha(var(--bw-color-utility-white), 50);
  padding: var(--bw-space-2) 0;

  @include dark-mode {
    backdrop-filter: none;
    background-color: var(--bw-color-utility-zinc-900);
  }
}
