@use "src/styles/utils" as *;

.root {
  --header-border-bottom-color: var(--bw-color-utility-zinc-100);

  @include dark-mode {
    --header-border-bottom-color: transparent;
  }
}

.header {
  padding: var(--bw-space-2) 0;
  border-bottom: 1px solid var(--header-border-bottom-color);
  position: sticky;
  top: 0;
  backdrop-filter: var(--bw-blur-xl);
  background-color: alpha(var(--bw-color-utility-white), 50);
  z-index: 1;
  transition:
    background-color 0.1s ease,
    border 0.1s ease;

  @include dark-mode {
    background-color: var(--bw-color-utility-zinc-900);
    backdrop-filter: none;
  }
}

.logo {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.loginLink {
  display: none;

  @include screen-sm {
    display: flex;
  }
}

.mobileLoginLink {
  @include screen-sm {
    display: none;
  }
}
