@use "src/styles/utils" as *;

.group {
  display: flex;
  flex-direction: column;
  gap: spacing(3);

  &:not(:first-child) {
    margin-top: spacing(3);
  }
}

.errorMessage {
  margin-top: spacing(3);
}
