@use "@/styles/utils.scss" as *;

.group {
  display: flex;
  flex-direction: column;
  gap: var(--bw-space-3);

  &:not(:first-child) {
    margin-top: var(--bw-space-3);
  }
}

.errorMessage {
  margin-top: var(--bw-space-3);
}
