@use "@/styles/utils.scss" as *;

.root {
  display: flex;
  align-items: center;
  gap: var(--bw-space-4);

  &:where([data-hovered]) {
    cursor: pointer;
  }
}

.radioIcon {
  --size: 1.1875rem;
  display: flex;
  position: relative;
  flex-shrink: 0;
  border: 1px solid #{alpha(var(--bw-color-utility-zinc-950), 15)};
  border-radius: var(--bw-radius-full);
  isolation: isolate;
  width: var(--size);
  height: var(--size);
  --hover-border-color: #{alpha(var(--bw-color-utility-zinc-950), 30)};
  --radio-indicator-background-color: transparent;
  --radio-indicator-selected-background-color: var(--bw-color-utility-white);

  @include screen-sm {
    --size: 1.0625rem;
  }

  &::before {
    position: absolute;
    z-index: -10;
    inset: 0;
    box-shadow: var(--bw-shadow-sm);
    border-radius: var(--bw-radius-full);
    background-color: var(--bw-color-utility-white);
    content: "";
  }

  &::after {
    position: absolute;
    inset: 0;
    box-shadow: inset 0 1px #{alpha(var(--bw-color-utility-white), 15)};
    border-radius: var(--bw-radius-full);
    content: "";
  }

  &:where(.root[data-selected] *) {
    border-color: transparent;
    --hover-border-color: transparent;
    background-color: #{alpha(var(--bw-color-utility-zinc-950), 90)};
    --radio-indicator-background-color: var(
      --radio-indicator-selected-background-color
    );

    &::before {
      background-color: var(--bw-color-utility-zinc-900);
    }
  }

  &:where(.root[data-disabled] *) {
    opacity: 50%;
    border-color: #{alpha(var(--bw-color-utility-zinc-950), 25)};
    background-color: #{alpha(var(--bw-color-utility-zinc-950), 5)};
    --radio-indicator-selected-background-color: #{alpha(
        var(--bw-color-utility-zinc-950),
        50
      )};

    &::before {
      background-color: transparent;
    }
  }

  &:where(.root[data-hovered] *) {
    border-color: var(--hover-border-color);
    --radio-indicator-background-color: #{alpha(
        var(--bw-color-utility-zinc-900),
        10
      )};
  }

  &:where(.root[data-hovered][data-selected] *) {
    --radio-indicator-background-color: var(
      --radio-indicator-selected-background-color
    );
  }

  &:where(.root[data-focused] *) {
    @include outline-primary;
    outline-offset: 2px;
  }

  &:where(.root:not([data-focus-visible]) *) {
    outline: none;
  }

  @include dark-mode {
    border-color: #{alpha(var(--bw-color-utility-white), 15)};
    background-color: #{alpha(var(--bw-color-utility-white), 5)};
    --hover-border-color: #{alpha(var(--bw-color-utility-white), 30)};

    &::before {
      display: none;
    }

    &::after {
      display: none;
      inset: -1px;
      border-radius: var(--bw-radius-full);
    }

    &:where(.root[data-selected] *) {
      border-color: #{alpha(var(--bw-color-utility-white), 5)};
      background-color: var(--bw-color-utility-zinc-600);
      --hover-border-color: #{alpha(var(--bw-color-utility-white), 5)};

      &::after {
        display: block;
      }
    }

    &:where(.root[data-hovered] *) {
      --radio-indicator-background-color: var(--bw-color-utility-zinc-700);
    }

    &:where(.root[data-hovered][data-selected] *) {
      --radio-indicator-background-color: var(
        --radio-indicator-selected-background-color
      );
    }

    &:where(.root[data-disabled] *) {
      border-color: #{alpha(var(--bw-color-utility-white), 20)};
      background-color: #{alpha(var(--bw-color-utility-white), 2.5)};
      --radio-indicator-selected-background-color: #{alpha(
          var(--bw-color-utility-white),
          50
        )};
    }

    &:where(.root[data-disabled][data-selected] *) {
      &::after {
        display: none;
      }
    }
  }
}

.radioIndicator {
  border: 4.5px solid transparent;
  border-radius: var(--bw-radius-full);
  background-clip: padding-box;
  background-color: var(--radio-indicator-background-color);
  width: 100%;
  height: 100%;
}

.label {
  &:where(.root[data-disabled] *) {
    opacity: 50%;
  }

  &:where(.root[data-invalid] *) {
    color: var(--bw-color-utility-error-600);

    @include dark-mode {
      color: var(--bw-color-utility-error-500);
    }
  }
}
