@use "src/styles/utils" as *;

.link {
  color: var(--bw-color-text-primary);
  font-weight: var(--bw-weight-semibold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--bw-space-4);
}
