@use "src/styles/utils" as *;

.description {
  display: block;
  margin-top: var(--bw-space-3);
  line-height: var(--bw-line-5);
}

.dialogBody {
  display: flex;
  flex-direction: column;
  gap: var(--bw-space-5);
  margin-top: var(--bw-space-4);
  padding-bottom: var(--bw-space-2);
}

.thirdPartyAuthButton {
  flex-grow: 1;
}

.forgotPassword {
  color: inherit;
  font-weight: var(--bw-weight-medium);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.textButton {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--bw-color-text-primary);
  font-weight: var(--bw-weight-medium);
  font-size: var(--bw-font-base);

  &[data-hovered] {
    opacity: 0.8;
    cursor: pointer;
  }

  @include screen-sm {
    font-size: var(--bw-font-sm);
  }
}
