@use "@/styles/utils.scss" as *;

.touchTarget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(100%, var(--bw-space-12));
  height: max(100%, var(--bw-space-12));

  @media (pointer: fine) {
    display: none;
  }
}
