@use "src/styles/utils" as *;

.touchTarget {
  position: absolute;
  left: 50%;
  top: 50%;
  width: max(100%, var(--bw-space-12));
  height: max(100%, var(--bw-space-12));
  transform: translate(-50%, -50%);

  @media (pointer: fine) {
    display: none;
  }
}
