@use "@/styles/utils" as *;

.logo {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.loginLink {
  display: none;

  @include screen-sm {
    // TODO: see if there is a good way to revert the display: none above.
    display: inline-flex;
  }
}

.mobileLoginLink {
  @include screen-sm {
    display: none;
  }
}
