@use "src/styles/utils" as *;

.description {
  display: block;
  margin-top: spacing(3);
}

.dialogBody {
  margin-top: spacing(4);
  padding-bottom: spacing(2);
}

.submitBtn {
  margin-top: spacing(6);
  width: 100%;
}

.thirdPartyAuthButtonContainer {
  display: flex;
  margin-top: spacing(2);
  gap: spacing(2);
}

.thirdPartyAuthButton {
  flex-grow: 1;
}
