@use "src/styles/utils" as *;

.popover {
  overflow-y: auto;
}

.menu {
  outline: none;
  padding: var(--bw-space-1);
  min-width: var(--bw-space-32);
  max-width: var(--bw-space-56);
}

.menuItem {
  display: block;
  outline: none;
  border-radius: var(--bw-radius-lg);
  padding: var(--bw-space-2-5) var(--bw-space-3-5);
  width: 100%;
  color: var(--bw-color-utility-zinc-950);
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  text-align: left;
  text-decoration: none;

  &:where([data-focused]) {
    background-color: var(--bw-color-utility-blue-500);
    color: var(--bw-color-utility-white);
  }

  &:where([data-disabled]) {
    opacity: 50%;
  }

  &:where([data-hovered]) {
    cursor: pointer;
  }

  @include screen-sm {
    padding: var(--bw-space-1-5) var(--bw-space-3);
    font-size: var(--bw-font-sm);
  }

  @include dark-mode {
    color: var(--bw-color-utility-white);
  }
}
