@use "src/styles/utils" as *;

.menu {
  padding: var(--bw-space-1);
  overflow-y: auto;
  outline: none;
  min-width: var(--bw-space-32);
}

.menuItem {
  border-radius: var(--bw-radius-lg);
  padding: var(--bw-space-2-5) var(--bw-space-3-5);
  outline: none;
  text-align: left;
  font-size: var(--bw-font-base);
  line-height: var(--bw-line-6);
  color: var(--bw-color-zinc-950);
  text-decoration: none;
  width: 100%;
  display: block;

  &:where([data-focused]) {
    background-color: var(--bw-color-utility-blue-500);
    color: var(--bw-color-white);
  }

  &:where([data-disabled]) {
    opacity: 50%;
  }

  &:where([data-hovered]) {
    cursor: pointer;
  }

  @include screen-sm {
    padding: var(--bw-space-1-5) var(--bw-space-3);
    font-size: var(--bw-font-sm);
  }

  @include dark-mode {
    color: var(--bw-color-white);
  }
}
